<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title><%= link.label %></title></head>
<body>
  <%- include('nav') %>
  <h1><%= link.label %></h1>
  <p><%= link.note %></p>
  <a href="<%= link.href %>" target="_blank">Visit Site</a>
</body>
</html>
